.W_wx_pageWarp{
    position: absolute;
}
.W_wx_page {
    display: inline-block;
    width: 320px;
    height: 600px;
    border: 4px solid #dbdbdb;
}

.W_wx_Part{
    position: relative;
    display: inline-block;
    left:0;
    top: 0;
}









