.wx_pages{
	
}



.wx_page{
    display: inline-block;
    width: 120px;
    height: 240px;
    border: 4px solid #20D080;
      overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
}

.wx_page_selected{
    border: 4px solid #000000;
}